{:deps {:aliases [:dev]}
 :builds {:app {:target :browser
                :output-dir "public/js"
                :asset-path "/js"
                :modules {:app {:entries [jdf.flow.core]}}}}
 :dev-http {8100 "public"}}